html {
  height: 100%;
  width: 100%;
}

* {
  text-transform: uppercase;
}

body {
  padding: 0;
  margin: 0;
  
  
/*overflow-y:hidden;*/

}
.con{
  overflow-x: hidden;
  background-image: url(bg-2.jpeg);
  width: 100vw;
height:100vh;
  background-repeat:no-repeat;
  background-size:cover;


}

#pkemonimg {
  position: relative;
  left: 625px;

}

.menu {
  background-color:
}

.search {
  /* margin-top: 150px; */
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#s {
  color: black;
  font-size: 25px;
  letter-spacing: 2px;


}

.input {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px;
  background-color: transparent;



}
input::placeholder{
font-size:20px;
text-decoration:stroke;
color:;
   
}
#search-icon {

  height: 80px;
  width: 80px;
  mix-blend-mode: darken;
  background:transparent;
}


.sbtn {
  display: ;
  background-image: url(pokeball-search.png);
  height: 100px;
  width: 100px;
  mix-blend-mode: darken;
  background-color:transparent;
  border: none;
  border-radius: 50%;

}

.cbtn {
  background-image: url(pokeball-search.png);
  height: 100px;
  width: 100px;
  mix-blend-mode: darken;
  background-color:transparent;
  border: none;
  border-radius: 50%;

}

label {
  font-size: 20px;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 450px;
  border: 2px solid black;
  border-radius: 10px;
  z-index:1;
}

.a {
  background: #ffffff;

  width: 50%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
z-index:1;
}

.pokeimg {
  height: 300px;
  width: 300px;
  /* margin:auto; */
  margin-left: 50px;
}

.b {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9713541666666666) 18%, rgba(255, 0, 0, 0.9545284666601015) 96%);
  width: 50%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
z-index:1;
}

#name {
  font-size: 50px;
  text-align: center;
  position: relative;
  left: 50px;
  top: 10px;

}

#description {
  margin: 0;
  text-align: center;
}

h5 {
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin: 10ox;
}

progress {
  accent-color: red;
}

.pb {
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 5px;
  border-radius: 10px;
  margin: 5px;

  color: black;

}

span {
  display: flex;
  align-items: center;
  justify-content: ceneter;
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  background-color: transparent;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9713541666666666) 18%, rgba(255, 0, 0, 0.9545284666601015) 96%);


}

h4 {

  margin: 5px;
  color: black;
}

.d {
  display: flex;
  flex-wrap: wrap;
}

.c {
  height: 100px;
}

#exp {
  width: 25px;
  height: 25px;
}

#ball {
  width: 50px;
  height: 50px;
  rotate: 30deg;
  position: relative;
  left: 50px;
  top: 10px;
}

#name-ball {
  display: flex;
}
#full-display{

  position:relative;
width:800px;
  z-index:2;
  border:2px solid black;
  border-radius :20px;
background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9713541666666666) 18%, rgba(255, 0, 0, 0.9545284666601015) 96%);
  height:450px;
 /* overflow:hidden;*/
}
h2{
  text-align:content;
letter-spacing:4px;
  position:relative;
top:150px;
  left:150px;
  
  
} 
#cant2{
  letter-spacing:10px;
}
a{
  text-decoration:none;
  position:relative;
top:150px;
left:150px;
  
}
@media screen and (min-width: 786px) { 
body{
 /* overflow:hidden;*/
}
  #s{
    color:red;
  }
  .container {
  border-color: red;
    
 /*   width:700px;
    height:450px;*/
  }
  #full-display {
    

   }




 #pkemonimg {
  position: relative;
  left: 225px;

  }
  #description{
    position:relative;
  top:100px;
    z-index:50;
    
    
  
  }
}
progress::-webkit-progress-value { background: lightblue;
                                 }
progress::-moz-progress-bar {
  background: lightcolor;
}